@font-face {
    font-family: simple;
    src: url('./Font/ReemKufiInk-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: simple, sans-serif;
    color: #ffffff;
    background-color: #20232a;
    line-height: 1.6;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111820;
    padding: 20px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 100;
  }

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 12px;
    border-radius: 6px;
  }

.logo h1 {
    font-size: 26px;
    font-weight: bold;
    color: #ff4655; /* Merah khas Valorant */
    text-transform: uppercase;
    letter-spacing: 3px;
  }

/* Navigation Styling */
.nav-links {
    display: flex;
    gap: 25px;
    margin-left: auto;
  }
  
  .nav-links a {
    color: #ffffffcc;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ff4655;
    transition: 0.4s ease;
  }
  
  .nav-links a:hover {
    color: #ff4655;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }